.header{
    background-color: #242424;
    color: white;
    text-align: center;
    padding: 10px;
}

.group-content{display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Wrap items to the next line */
    gap: 20px; /* Add space between items */

    background-color: #242424;
    
}

.card {
    background-color: #242424;

    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);

    transition: 1.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);

    transform: scale(1.1);

    color: white;
}

.card-title {
    color: white;
    pointer-events: visible;
}

.card img {
    width: 300px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    color: white;
}

